.core-team {
  padding: 4rem;
  background: #f9f9f9;
  text-align: center;
}

.core-team h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.core-team p {
  font-size: 1rem;
  margin-bottom: 3rem;
  color: #666;
}

.core-team__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.core-team__card {
  background: #fff;
  border-radius: 15px;
  padding: 1.5rem;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  max-width: 250px;
  text-align: center;
}

.core-team__img {
  width: 120px; /* Adjust the size as needed */
  height: 120px; /* Adjust the size as needed */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover;
  margin-bottom: 1rem;
}

.core-team__info h3 {
  font-size: 1.2rem;
  color: #252e48;
  margin-bottom: 0.5rem;
}

.core-team__info p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.2rem 0;
}
