.footer-container {
  background-color: #242424;
  padding: 2rem 0; /* Adjusted padding */
  text-align: center;
  color: #fff;
}

.footer-contact {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.social-media-links {
  margin-top: 1rem;
}

.social-link {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.social-link:hover {
  color: #e9e9e9;
  transition: 0.3s ease-out;
}
