.media-view-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    z-index: 1100;    /* Close button fix. */
  }
  
  .modal-media {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  